.sutras {
  font-size: 17px;
  line-height: 1.8em;
  padding: 8px 20px;
  background-color: #edf7fe;
}
.sutras a {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}
.sutras .line-head,
.sutras p.doc-num {
  font-size: 0.6em;
  display: none;
  font-weight: 300;
}
.sutras.show-line-head .line-head {
  display: inline;
}
.sutras .para-head {
  margin-left: 2em;
}
.sutras .eulo,
.sutras .byline,
.sutras .varga,
.sutras .other-head {
  text-align: center;
}
.sutras .eulo .para-head,
.sutras .byline .para-head,
.sutras .varga .para-head,
.sutras .other-head .para-head {
  margin-left: 0;
}
.sutras .translator,
.sutras .author,
.sutras .editor,
.sutras .collector {
  text-align: right;
}
.sutras .translator .para-head,
.sutras .author .para-head,
.sutras .editor .para-head,
.sutras .collector .para-head {
  margin-left: 0;
}
.sutras p.eulo-end {
  text-align: right;
  color: #999;
  font-size: 0.9em;
}
.sutras p.eulo-end .para-head {
  margin-left: 0;
}
.sutras p.eulo-end {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sutras p.eulo {
  font-size: 1.6em;
  font-weight: 700;
}
.sutras .translator {
  margin-bottom: 1.25em;
}
.sutras .mantra > span:first-child {
  margin-left: 3em;
}
.sutras .mantra > span:first-child:after {
  content: "“";
  font-size: 1.6em;
  opacity: 0.3;
}
.sutras .mantra:after {
  content: "”";
  font-size: 1.6em;
  opacity: 0.3;
}
.sutras .pu {
  color: #999;
  opacity: 0.8;
}
.sutras .note-inline {
  color: #ab2b96;
}
.sutras .note-para,
.sutras .note-para > .note-inline {
  color: purple;
  font-size: 0.82em;
}
.sutras .quote {
  color: #060;
}
.sutras .quote .quote {
  color: #0a0;
}
.sutras .appendix {
  color: #2b542c;
}
.sutras .text:not(.merged) {
  padding: 0 2px;
}
.sutras span.doc-num {
  margin-left: 1em;
  font-size: 0.8em;
}
.sutras span.doc-num:before {
  content: "No.";
}
.sutras .cb-char {
  font-size: 0.9em;
}
.sutras .num-ref {
  opacity: 0.4;
}
.desktop .sutras .num-ref:hover {
  opacity: 1;
}
